<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zminder.wms.mapper.UserMapper">
    <sql id="baseSelect">
        select *
        from user
    </sql>

    <!--    查询user表所有用户的映射map-->
    <resultMap id="baseMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="role_id" property="roleId"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>

    <!--查询所有-->
    <select id="selectAll" resultMap="baseMap">
        <include refid="baseSelect"></include>
    </select>

    <!--新增用户-->
    <insert id="insert">
        insert into user(username,nickname,password,age,gender,phone
        <if test="roleId != null">,role_id</if>
        <if test="isValid != null">,is_valid</if>)
        values (#{username},#{nickname},#{password},#{age},#{gender},#{phone}
        <if test="roleId != null">,#{roleId}</if>
        <if test="isValid != null">,#{isValid}</if>)
    </insert>

    <!--    更新用户信息-->
    <update id="update">
        update user
        <set>
            <if test="nickname != null">nickname = #{nickname},</if>
            <if test="password != null">password = #{password},</if>
            <if test="age != null">age = #{age},</if>
            <if test="gender != null">gender = #{gender},</if>
            <if test="phone != null">phone = #{phone},</if>
            <if test="roleId != null">role_id = #{roleId},</if>
            <if test="isValid != null">is_valid = #{isValid},</if>
            -- 兜底方案 防止set后空空如也 sql语句报错
            <if test="username != null">username = #{username}</if>
        </set>
        where username = #{username}
    </update>

    <!--    根据账号删除用户-->
    <delete id="deleteByUsername">
        delete
        from user
        where username = #{username}
    </delete>

    <!--    模糊查询-->
    <select id="fuzzySelect" resultMap="baseMap">
        <include refid="baseSelect"></include>
        <where>
            <if test="nickname != null">
                nickname like concat('%',#{nickname},'%')
            </if>
            <if test="gender != null">
                and gender = #{gender}
            </if>
            <if test="roleId != null">
                and role_id = #{roleId}
            </if>
        </where>
    </select>
    <select id="selectByUsername" resultMap="baseMap">
        <include refid="baseSelect"></include>
        where username = #{username}
    </select>
    <select id="selectByUsernameAndPassword" resultMap="baseMap">
        <include refid="baseSelect"></include>
        where username = #{username} and password = #{password}
    </select>
</mapper>