<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zminder.wms.mapper.UserMapper">
    <sql id="baseSelect">
        select *
        from user
    </sql>
    <!--    查询user表所有用户的映射map-->
    <resultMap id="baseMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="nickname" property="nickname"/>
        <result column="password" property="password"/>
        <result column="age" property="age"/>
        <result column="gender" property="gender"/>
        <result column="phone" property="phone"/>
        <result column="role_id" property="roleId"/>
        <result column="is_valid" property="isValid"/>
    </resultMap>
    <!--查询所有-->
    <select id="queryAll" resultMap="baseMap">
        <include refid="baseSelect"></include>
    </select>
    <!--    根据id查询-->
    <select id="queryById" resultMap="baseMap">
        <include refid="baseSelect"></include>
        where id = #{id}
    </select>
    <!--新增用户-->
    <insert id="insert">
        insert into user(username,nickname,password,age,gender,phone
        <if test="roleId != null">,role_id</if>
        <if test="isValid != null">,is_valid</if>)
        values (#{username},#{nickname},#{password},#{age},#{gender},#{phone}
        <if test="roleId != null">,#{roleId}</if>
        <if test="isValid != null">,#{isValid}</if>)
    </insert>
</mapper>